.section_skills {
    background-color: var(--colorFondo);
    min-height: 100vh;
    color: var(--colorTextoBlanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    border-bottom:1px solid var(--colorTextoBlanco);
}

.card_image {
    background-color: var(--colorCard);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1; 
    margin: 0; 
}
/* Colores de los Iconos */
#html { color:#E34F26; width:96px; height:96px; }
#css  { color:#1572B6; width:96px; height:96px; }
#js   { color:#F7DF1E; width:96px; height:96px; }
#git  { color:#181717; width:96px; height:96px; }
#next { color:#ffffff; width:96px; height:96px; }
#angular { color:#DD0031; width:96px; height:96px; }
#python { color:#3776AB; width:96px; height:96px; }
#bootstrap { color:#7952B3; width:96px; height:96px; }



/* Contenedor principal que separa la cuadrícula del panel lateral */
.skills_layout {
    display: flex;
    align-items: stretch; /* Para que el panel derecho mida lo mismo que la cuadrícula */
    gap: 1.5rem;
    max-width: 1200px;
    width: 100%;
    margin-top: 2rem;
}

/* Cuadrícula de iconos (4 columnas) */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* 4 columnas iguales */
    gap: 1rem;
    flex: 2; /* Toma más espacio que el panel lateral */
}

.cv_btn {
  text-decoration:none;
  color:black;
  background:var(--colorSecond);
  padding:0.5em 1em;
  border-radius:20px;
  font-weight:bold;
  border:2px solid var(--colorTextoNegro);
}

.side_panel{
    background-color: var(--colorCard);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    border-radius: 8px;
}

@media (max-width:768px){
    .skills_layout{
        flex-direction:column;
    }
    .grid{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}







